.clientes-container{
    background-color: rgb(60, 94, 74);
    text-decoration: none;
    padding: 30px;
    margin-top: 30px;
    
}

.title-cliente {
    background-color: #282c34;
    color: whitesmoke;
    padding: 10px;
}