.clientes-container{
    background-color: #282c34;
    text-decoration: none;
    padding: 30px;
    margin-top: 10px;
    color: whitesmoke;
    
}

.title-cliente {
    background-color: #282c34;
    color: whitesmoke;
    padding: 10px;
    color: whitesmoke;
}


.acao-button{
    margin-top: 10px;
    width: 50%;
    color: whitesmoke;
}
