.loja {
    background-color: rgb(3, 30, 56);
    height: 100vh;
    display: flex;
}

.atendimento-container {
    margin: 30px;
    align-items: center;
    border: 2px solid red;
    
}

.cliente-container{
    margin: 10px;
    color: royalblue !important;
}

.pedido-container {
    margin: 10px;
}

.forma-de-contato-container {
    margin: 10px;
}

.button-declinar {
    margin: 10px;
}

.button-continuar {
    margin: 10px;
}