.template-public-container {
    display: flex;
    background-color: #282c34;
    
}

.text {
    color: grey;
    
}
.logo{
    height: 10vmin;
    padding: 20px;
}

.template-public-background {
    width: 70%;
    max-width: 1280px;
    height: 100vh;
    background-image: url('../../../Images/pexels-thiago-japyassu-4510312\ \(1\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;
}

.template-public-content {
    flex: 1;
    padding: 50px;
}

.footer {
    color: whitesmoke;
    
}